.env
.env.local
.env*.local
node_modules/
.next/
out/
dist/
build/
*.tsbuildinfo
.DS_Store
*.pem
coverage/
.vercel/
prisma/migrations/
contracts/artifacts/
contracts/cache/
contracts/node_modules/
contracts/typechain-types/
.vercel
